@import "tailwindcss";

@theme {
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  
  --color-violet-500: #8b5cf6;
  --color-violet-600: #7c3aed;
  
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  
  --color-green-500: #10b981;
  --color-green-600: #059669;
  
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  
  --color-yellow-400: #facc15;
  --color-yellow-700: #a16207;
  --color-yellow-900: #713f12;
  
  --color-pink-500: #ec4899;
  
  --color-cyan-500: #06b6d4;
  
  --color-white: #ffffff;
  --color-black: #000000;
}

